<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="RunDialog">
		<title>Run Menu</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>1</cols>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>3</cols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Input file name</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_INPUT_FILE_NAME" variable="TextCtrl_InputFileName" member="yes">
										<size>360,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BROWSE_INPUT_FILE" variable="Button_BrowseInputFile" member="yes">
										<label>Browse</label>
										<handler function="OnButton_BrowseInputFileClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
								<label>Automatic Settings</label>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_AUTO_SETTINGS" variable="CheckBox_AutoSettings" member="yes">
												<label>Automatically calculate settings</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
												<label>Stop when relative error is lower than (-a)</label>
											</object>
											<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>40</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_AUTOMATIC_ERROR" variable="TextCtrl_Automatic_Error" member="yes">
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_AUTO_PRECOND" variable="CheckBox_Auto_Precond" member="yes">
												<label>Automatic preconditioner usage (-ap)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
								<label>Manual Settings</label>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
										<cols>4</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
												<label>Mesh relative refinement value (-m)</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_MESH_EPS" variable="TextCtrl_MeshEps" member="yes">
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
												<label>Gmres iteration tolerance (-t)</label>
											</object>
											<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>60</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_GMRES_TOL" variable="TextCtrl_GmresTol" member="yes">
												<size>58,21</size>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
								<label>Common Settings</label>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
												<cols>4</cols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
														<label>Direct potential interaction coefficient to&#x0A;mesh refinement ratio (-d)</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_EPS_RATIO" variable="TextCtrl_EPS_Ratio" member="yes">
														<size>50,21</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
														<label>Mesh curvature coefficient (-mc)</label>
													</object>
													<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>20</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_CURVATURE" variable="TextCtrl_Curvature" member="yes">
														<size>50,21</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
												<cols>3</cols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
														<label>Out-Of-Core free memory to link memory &#x0A;condition (0 = don&apos;t go OOC) (-f)</label>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_AUTOREFINE_OUT_OF_CORE" variable="TextCtrl_Autorefine_Out_of_Core" member="yes">
														<size>50,21</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_GALERKIN_SCHEME" variable="CheckBox_GalerkinScheme" member="yes">
														<label>Use Galerkin scheme (-g)</label>
													</object>
													<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>50</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
												<label>Preconditioner Settings</label>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
														<cols>1</cols>
														<object class="sizeritem">
															<object class="wxCheckBox" name="ID_PRECOND_JACOBI" variable="CheckBox_Precond_Jacobi" member="yes">
																<label>Use Jacobi Preconditioner (-pj)</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
																<cols>3</cols>
																<object class="sizeritem">
																	<object class="wxCheckBox" name="ID_PRECOND_TWO_LEVELS" variable="CheckBox_Precond_TwoLevels" member="yes">
																		<label>Use Two-levels Preconditioner</label>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
																		<label>Two-levels Preconditioner dimension (-ps)</label>
																	</object>
																	<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>30</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxTextCtrl" name="ID_DIM_PRECOND_TWO_LEVELS" variable="TextCtrl_Dim_Precond_Two_Levels" member="yes">
																		<size>50,21</size>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
								<label>General Options</label>
								<object class="sizeritem">
									<object class="wxGridSizer" variable="GridSizer1" member="no">
										<cols>2</cols>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_OUTPUT_GEOMETRY" variable="CheckBox_Output_Geometry" member="yes">
												<label>Output refined geometry in FastCap2 format (-o)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_DUMP_GEOMETRY" variable="CheckBox_Dump_Geometry" member="yes">
												<label>Dump input geometry in FasterCap format and stop (-oi)</label>
												<handler function="OnCheckBox_Dump_GeometryClick" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_OUTPUT_CHARGE" variable="CheckBox_Output_Charge" member="yes">
												<label>Dump charge densities in output file (-c)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_DUMP_RESIDUAL" variable="CheckBox_Dump_Residual" member="yes">
												<label>Dump Gmres residual at each iteration (-r)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_DUMP_TIME_MEM" variable="CheckBox_Dump_Time_Mem" member="yes">
												<label>Dump detailed time and memory information (-i)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_VERBOSE_OUTPUT" variable="CheckBox_Verbose_Output" member="yes">
												<label>Verbose output (-v)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_OUTPUT_CAPACITANCE" variable="CheckBox_Output_Capacitance" member="yes">
												<label>Output capacitance matrix to file (-e)</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
								<object class="button">
									<object class="wxButton" name="wxID_OK">
										<label>Run</label>
									</object>
								</object>
								<object class="button">
									<object class="wxButton" name="wxID_NO">
										<label>Reset</label>
									</object>
								</object>
								<object class="button">
									<object class="wxButton" name="wxID_CANCEL">
										<label></label>
									</object>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
